// Typography Mixins
@mixin font-pt-mono($size) {
    font-family: $font-pt-mono;
    font-size: $size;
}

@mixin font-roboto($size) {
    font-family: $font-roboto;
    font-size: $size;
}

// Flex Center
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
