// Colors
$color-white: #FFF;
$color-isabelline: #EEEDED;
$color-spanish-gray: #989797;
$color-coral: #FA824C;
$color-buff: #F1DD7B;
$color-flame: #E4572E;
$color-light-red-ochre: #E87554;
$color-vanilla: #F5E7A1;
$color-pastel-pink: #F2B2A0;
$color-shiny-shamrock: #4CA866;
$color-turquoise-green: #9DCFAB;
$color-pastel-gray: #BDDFC7;
$color-blue-de-france: #3C91E6;
$color-blue-jeans: #5FA5EA;
$color-jordy-blue: #82B9EF;
$color-black: #000;
$color-outer-space: #454545;
$color-quick-silver: #A2A2A2;

// Typography
$font-pt-mono: 'PT Mono', monospace;
$font-roboto: 'Roboto', sans-serif;
